{% extends "layout.html" %}
{% block content %}


<!--Hero Section-->
<section id="hero">
    <div class="hero container">
        <div>
            <h1>Hello,</h1>
            <h1>Welcome to Kijabe Hospital Management System</h1>
            <a href="#" type="button" class="cta">Results Verification</a>
        </div>
    </div>
</section>
<!--End of hero section-->
<!--Partners section-->
<section id="partners">
    <div class="partner-container">
        <div class="partner-top">
            <h1 class="section-title">Partners</h1>
            <p>This section details the collaborative network of partners involved in Kijabe Hospital's
                efforts to advance children's immunization and healthcare endorsement.
                The following partners are responsible for the collective effort in making a meaningful impact on
                the health and well-being of this hospital's patients.
            </p>
        </div>
        <div class="partner-bottom"></div>
        <div class="partner-item">
            <img src="static/img/USAID_logo.png">
        </div>
        <div class="partner-item">
            <img src="static/img/Kenya_Emergency_logo.png">
        </div>
        <div class="partner-item">
            <img src="static/img/Ministry_of_Health_logo.png">
        </div>
        <div class="partner-item">
            <img src="static/img/NHIF_logo.jpg">
        </div>
        <div class="partner-item">
            <img src="static/img/Kenya_Healthcare_Federation_logo.png">
        </div>

    </div>

</section>
<!--end of Partners section-->
{% endblock %}







