<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Kijabe Immunization System - {{ title }}</title>
    {% else %}
        <title>Kijabe Immunization System</title>
    {% endif %}
</head>
<body>

<header class="nav-header">
<nav class="navigation">
        <a href="/">Home</a>
        <a href="/">Services</a>
        <a href="/">Wellness Packages</a>
        <a href="/">Contact Us</a>
        <a href="/">Feedback</a>
        <a class="ml-2" href="{{ url_for('login') }}">
            <button class="btn-login">Login</button>
        </a>

</nav>
</header>
<div>
    {% block content %}
    {% endblock %}

</div>

</body>
</html>