<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Kijabe Immunization System - {{ title }}</title>
    {% else %}
        <title>Kijabe Immunization System</title>
    {% endif %}
</head>
<body>

<div style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid grey;">
<img src="{{ url_for('static', filename='img/IMG_3.png') }}" style="max-height: 100px; max-width: 100px; margin-right: 10px;">
    <h1 style="margin: 0;">
        Kijabe Hospital Manageme nt System
    </h1>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

</body>
</html>